{
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "ignorePatterns": ["node_modules/", "app/node_modules"],
  "rules": {
    "semi": "error"
  }
}
