@import './team-card';
@import './battleground';

.battle-menu {
    background: #fefefe;
    box-shadow: $app-box-shadow;
    border-radius: 16px;
    align-items: center;
    color: $dark-text;
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    padding: 8px 16px;

    >*+* {
        margin-left: 8px;
    }

    .scoreboard {
        font-weight: 900;
        color: $dark-text;

        &__score {
            border-left: 3px solid $user-team-bg;
            border-right: 3px solid $opp-team-bg;
            background: $highlight-color;
            font-size: 1.2em;
            padding: 0 4px;
        }

        &__message {
            margin-left: 8px;
        }
    }

    .quit-game {
        margin-left: auto;
    }
}

.match-board {
    width: 100%;
}
