$card__name-color: #fefefe;
$card__stats--pwr-bg: #7768af;
$card-bg: white;


.card-list {
    margin-top: 8px;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    background: $card-bg;
    box-shadow: inset 0px 0px 0px rgba(18, 26, 49, 0.15), inset 0px 0px 0px rgba(18, 26, 49, 0.15), 5px 5px 0px rgba(55, 84, 170, 0.25), -1px -1px 5px rgba(55, 84, 170, 0.15);
    border-radius: 16px;
    color: $dark-text;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 230px;

    .remove-btn {
        background: transparent;
        border-color: #ffffff;
        color: #fff;
        position: absolute;
        top: 8px;
        right: 8px;
        border-radius: 50%;
        display: inline-block;
        font-size: 10px;
        height: 24px;
        line-height: 10px;
        margin: 0 0 8px;
        padding: 0;
        text-align: center;
        width: 24px;

        &:not(disabled):hover,
        &:not(disabled):focus {
            background: #ce3131;
            color: #fff;
        }
    }

    &--gkr {
        background: $goalkeeper-bg;
        color: $dark-text;
    }

    &--def {
        background: $defender-bg;
        color: $light-text;
    }

    &--mid {
        background: $midfielder-bg;
        color: $dark-text;
    }

    &--atk {
        background: $attacker-bg;
        color: $light-text;
    }

    &+.card {
        margin-left: 8px;
    }

    &__class {
        padding: 8px;
        text-transform: uppercase;

        span {
            font-size: 0.8em;
            border-radius: 8px;
            ;
            padding: 4px 8px;
        }
    }

    &__name {
        font-family: $highlight-font;
        font-size: 2em;
        margin: 8px 0;
    }

    &__stats {
        display: flex;
        flex-direction: column;
        margin: 8px 16px 16px;
    }

    &__stat {
        align-items: center;
        border-radius: 12px;
        background: #fefefe;
        display: flex;
        flex-direction: column;
        padding: 8px 15px;
        margin: 8px 0;

        &--abi .stat-bar {
            background: $ability-bg;
        }

        &--int .stat-bar {
            background: $intelligence-bg;
        }

        &--phy .stat-bar {
            background: $physical-bg;
        }

        .stat-value {
            color: $dark-text;
            font-size: 1.5em;
            font-weight: bold;
        }

        .stat-label {
            color: $dark-text;
            text-transform: uppercase;
            font-size: 0.8em;
        }

        .stat-bar {
            border-radius: 16px;
            display: inline-block;
            height: 8px;
            margin: 4px 0;
        }
    }
}
