$game-font: 'Source Sans Pro', sans-serif;
// CLASSES
$goalkeeper-bg: #9BC53D;
$defender-bg: #29335C;
$midfielder-bg: #FB8B24;
$attacker-bg: #C33149;

// STATS
$ability-bg: #49c03e;
$intelligence-bg: #4169e1;
$physical-bg: #774a4a;
