@import './player-card';

.match-menu {
    background: #fefefe;
    box-shadow: $app-box-shadow;
    border-radius: 16px;
    align-items: center;
    color: $dark-text;
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    padding: 8px 16px;

    >*+* {
        margin-left: 8px;
    }

    .scoreboard {
        font-weight: 900;
        color: $dark-text;
        margin-left: auto;

        &__score {
            border-left: 3px solid $user-team-bg;
            border-right: 3px solid $opp-team-bg;
            background: $highlight-color;
            font-size: 1.2em;
            padding: 0 4px;
        }
    }
}

.match-board {
    width: 100%;
}

.timeline {
    max-height: 128px;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 16px 8px 0;
    position: relative;
    flex-direction: column;
    min-height: min-content;


    &::-webkit-scrollbar-track {
        box-shadow: $app-box-shadow;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #000000;
    }

    &__entry {
        width: 50%;
        flex: 1;
        align-items: center;
        background: linear-gradient(145deg, $opp-team-bg 10%, #ffffff 10%);
        color: $opp-team-text;
        padding: 8px 8px 8px 4%;
        border-radius: 4px 4px 0 0;
        display: flex;
        flex-direction: column;

        &--attacking {
            margin-left: auto;
            background: linear-gradient(145deg, $user-team-bg 10%, #ffffff 10%);
            color: $user-team-text;
        }

        &+& {
            margin-top: 16px;
        }

        .minute {
            font-size: 1.5em;
            font-weight: bold;
        }

        .text {
            text-align: center;
            font-size: 0.8em;
        }

        .goal-icon {
            font-size: 1.2em;
            margin-right: 4px;
            vertical-align: middle;
        }
    }
}

@keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-webkit-transform: scale(1.3);
	}
	50% {
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		-webkit-transform: scale(1.1);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-webkit-transform: scale(1);
	}
}

.message {
    &--win {
        animation: blurFadeInOut 3s ease-in backwards;
    }
}
