.player-card {
    align-items: center;
    background: #fff;
    border: 1px solid darken($app-bg-fallback, 5%);
    border-radius: 8px;
    box-shadow: $app-box-shadow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 208px;
    overflow: visible;
    position: relative;
    padding: 8px;
    transform: scale(0.9);

    &+.player-card {
        margin-left: 8px;
    }

    &--selectable {
        cursor: pointer;
    }

    &--gkr {
        background: $goalkeeper-bg;
        color: $dark-text;

        .player-card__stat {
            background: lighten($goalkeeper-bg, 5%);
        }
    }

    &--def {
        background: $defender-bg;
        color: $light-text;

        .player-card__stat {
            background: lighten($defender-bg, 5%);
        }
    }

    &--fwd {
        background: $forward-bg;
        color: $light-text;

        .player-card__stat {
            background: lighten($forward-bg, 5%);
        }
    }

    &__class {
        padding: 8px;
        text-transform: uppercase;

        span {
            font-size: 0.8em;
            border-radius: 8px;
            padding: 4px 8px;
        }

        svg {
            margin-right: 4px;
            vertical-align: middle
        }
    }

    &__name {
        font-family: $highlight-font;
        font-size: 2em;
        margin: 8px 0;
        text-align: center;
    }

    &__stats {
        align-content: center;
        display: flex;
        flex-direction: row;
        margin: 32px 4px 8px;
    }

    &__stat {
        align-items: center;
        border-radius: 8px;
        display: flex;
        align-content: space-between;
        justify-content: space-between;
        flex-direction: column;
        width: 80%;
        padding: 4px 8px;

        &+& {
            margin-left: 8px;
        }

        .stat-value {
            align-content: center;
            align-items: center;
            border-radius: 50%;
            display: flex;
            font-size: 1.5em;
            font-weight: bold;
            height: 24px;
            padding: 4px 8px;
            text-align: center;

            svg {
                animation: shakeStat 2s ease-in infinite;
                vertical-align: middle
            }
        }

        .stat-label {
            border-radius: 8px;
            padding: 4px;
            text-transform: uppercase;
            font-size: 0.8em;
        }

        .stat-bar {
            border-radius: 16px;
            display: inline-block;
            height: 8px;
            margin: 4px 0;
        }
    }
}

.player-card--selected {
    animation: jumpRelative 2s infinite;
    border-top: 4px solid $highlight-color;
    border-bottom: 4px solid $highlight-color;
}
