@keyframes jump {
    0% {
        transform: translate(-50%, -50%)
    }

    50% {
        transform: translate(-50%, -90%)
    }

    100% {
        transform: translate(-50%, -50%)
    }
}

@keyframes jumpRelative {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(8px)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes fadeOut {
    0% {
        opacity:1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity:0;
    }
}

@keyframes flickerText {
	0% {
		opacity: 0.4;
	}
	5% {
		opacity: 0.5;
	}
	10% {
		opacity: 0.6;
	}
	15% {
		opacity: 0.85;
	}
	25% {
		opacity: 0.5;
	}
	30% {
		opacity: 1;
	}
	35% {
		opacity: 0.1;
	}
	40% {
		opacity: 0.25;
	}
	45% {
		opacity: 0.5;
	}
	60% {
		opacity: 1;
	}
	70% {
		opacity: 0.85;
	}
	80% {
		opacity: 0.4;
	}
	90% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@keyframes shakeStat {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(-4px)
    }

    75% {
        transform: translateX(4px)
    }

    100% {
        transform: translateX(0)
    }
}
