@keyframes jump {
    0% {
        transform: translate(-50%, -50%)
    }

    50% {
        transform: translate(-50%, -90%)
    }

    100% {
        transform: translate(-50%, -50%)
    }
}

@keyframes jumpRelative {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(8px)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes shakeStat {
    0% {
        transform: skewX(-15deg);
    }

    5% {
        transform: skewX(15deg);
    }

    10% {
        transform: skewX(-15deg);
    }

    15% {
        transform: skewX(15deg);
    }

    20% {
        transform: skewX(0deg);
    }

    100% {
        transform: skewX(0deg);
    }
}

@keyframes battleCard {
    from {
        box-shadow: 0 0 6px -6px $highlight-color;
    }

    to {
        box-shadow: 0 0 6px 6px $highlight-color;
    }
}
