/*** BUTTONS ***/
$btn--default: #183a6d;
$btn--default-text: $light-text;
$btn--primary: $main-color;
$btn--danger: #ba324f;
$btn--success: #119da4;

@mixin button-bg($bg) {
    background: $bg;

    &:hover {
        background: darken($bg, 8%);
        transition: all 0.3s ease;
    }

    &:active {
        background: darken($bg, 25%);
    }
}

.btn,
.btn:active {
    appearance: none;
    background: $btn--default;
    border-radius: 8px;
    box-shadow: 9px 7px 40px -6px rgba(0, 0, 0, 0.25);
    color: $btn--default-text;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    line-height: 26px;
    height: 36px;
    outline: none;
    padding: 4px 16px;
    position: relative;
    text-rendering: auto;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;

    svg {
        margin-right: 4px;
    }

    &.primary {
        @include button-bg($btn--primary);
    }

    &.success {
        @include button-bg($btn--success);
    }

    &.error {
        @include button-bg($btn--danger);
    }
}
