/*** FORMS ***/
$form__input-color: $dark-text;
$form__input-border: #d8d8d8;
$form__label-color: #686868;
$form__input-disabled: #a0a0a0;
$form__radio-bg: #fff;
$form__radio-border: #BBC1E1;
$form__radio--active-bg: $main-color;

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    border: none;
    background: #fff;
    padding: 1em;

    &__radio-group {
        margin-top: 16px;
        flex-direction: row;
    }


    &__radio-entry {
        align-items: center;
        display: flex;
        flex-direction: row;

        &+& {
            margin-top: 8px;
        }
    }

    .input,
    .select,
    .textarea {
        background: transparent;
        border: none;
        border-bottom: 1px solid $form__input-border;
        border-radius: 0;
        box-shadow: none;
        color: $form__input-color;
        position: relative;
        font-size: 1em;
        width: 100%;
        margin-top: 8px;
        box-sizing: border-box;
        outline: none;
        font-weight: normal;
        padding-bottom: 2px;

        &:focus {
            border-color: darken($form__input-border, 5%);
            outline: none;
        }
    }

    .select {
        margin-left: -8px;

        &:before {
            content: '';
            position: absolute;
            top: 25%;
            left: 12px;
            border-top: 12px solid #999;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
        }
    }

    .textarea {
        line-height: 1.5em;
    }

    .radio {
        appearance: none;
        height: 21px;
        width: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid $form__input-border;
        border-radius: 50%;
        background: $form__radio-bg;
        transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;

        &:checked {
            background: $main-color;
            border: 1px solid #fefefe;
            box-shadow: 0 0 0 2px darken($form__radio-bg, 10%);
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.8;

            &:checked {
                background: darken($form__input-disabled, 5%);
                border-color: darken($form__input-disabled, 10%);
            }

            &+label {
                cursor: not-allowed;
            }
        }

        &:hover,
        &:focus {
            &:not(:checked) {
                &:not(:disabled) {
                    border-color: lighten($form__radio--active-bg, 10%);
                }
            }
        }

        &+label {
            font-size: 14px;
            line-height: 21px;
            display: inline-block;
            vertical-align: top;
            cursor: pointer;
            margin-left: 4px;
        }
    }

    .label {
        font-size: 0.8em;
        text-transform: uppercase;
    }
}

.add-card-form {
    background: #fff;
    border-radius: 16px;
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;

    .points-remaining {
        align-self: flex-start;
        background: #fff;
        padding: 1em;
        flex: 1 1;
        margin-right: 24px;
        margin-bottom: 0;
    }

    .form-field {
        align-self: flex-start;
        flex: 1;
        margin-right: 24px;
        margin-bottom: 0;

        &--stat {
            flex: 0 0 80px;
        }
    }

    .add-btn {
        flex: 0 0 120px;
    }
}
