
$app__header-bg: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
$app__header-color: $dark-text;
$app__footer-color: $light-text;
$app__footer-bg: #181818;

body {
    overscroll-behavior: none;
}

.app {
    position: relative;
	width: 100%;
    height: 100vh;
    background: $app-bg-fallback;
	background: $app-bg;
	overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;

    &__header {
        background: $app__header-bg;
        color: $app__header-color;
        padding: 8px 8px;
        width: 100%;

        h1, h2 {
            margin: 0;
            font-family: $highlight-font;
        }

        &-container {
            padding: 0 1em;
            margin: 0 auto;
            max-width: $container-width;
        }
    }

    &__container {
        flex: 1;
        margin: 0 auto;
        max-width: $container-width;
        width: 100%;
        overflow: auto;
    }

    &__footer {
        background: $app__footer-bg;
        color: $light-text;
        padding: 16px 8px;
        text-align: center;
        width: 100%;
    }
}
