$app-body-color: $dark-text;
$app-heading-color: $dark-text;
$app-heading-font: $main-font;
$app-body-font: $main-font;

html,
body,
p {
    font-family: $app-body-font;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $app-heading-font;
}

h1 {
    font-size: 54px;
    font-weight: 300;
    line-height: 58px;
    margin: 0 0 8px;
}


p {
    font-family: $app-body-font;
    font-size: 16px;
    line-height: 26px;
    text-indent: 30px;
    margin: 0;
}


a {
    color: $link-color;
    text-decoration: underline;

    &:focus,
    &:hover,
        {
        color: $link-color--hover
    }

    &:active {
        color: $link-color--active
    }
}
