@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Yanone+Kaffeesatz:wght@400;700&display=swap');

$dark-text: #252525;
$light-text: #fff;
$main-color: #fefefe;
$alternative-color: #7768AE;
$highlight-color: #EAD94C;
$container-width: 1440px;

$main-font: 'Open Sans', Arial, sans-serif;
$highlight-font: 'Yanone Kaffeesatz', sans-serif;

$link-color: #2871d1;
$link-color--hover: lighten($link-color, 10%);
$link-color--active: lighten($link-color, 5%);
